# internal clock
set_io clk 21

# leds
#set_io D5 95 # Green
set_io D1 99
set_io D2 98
set_io D3 97
set_io D4 96

# spi io pins
set_io SCLK 91
set_io MOSI 88
set_io MISO 90
set_io CE0 81
set_io SSIG 80