# -- System internal clock
set_io clk 21


# -- Icestick leds map
#
#           D1
#        D4 D5 D2
#           D3
#
# --    D1-D4: Red leds
# --    D5: green led

# -- Leds for SPI
# set_io D5 95 # Green
set_io D1 99 # Red 1 
set_io D2 98 # Red 2
set_io D3 97 # Red 3 
set_io D4 96 # Red 4

# -- FPGA pins:
#
#     ----------
#    | 3V3  3V3 |
#    | GND  GND |
#    | 91    81 |
#    | 90    80 |              
#    | 88    79 |              
#    | 87    78 | <            
#     ----------         

# -- Pins for SPI
set_io SCLK 91
set_io MOSI 88
set_io MISO 90
set_io CE0 81
set_io SSIG 80
